
body {
    margin: 10px;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: darkslateblue;
    background: lightgray;
    background-size: 100%;
}

.author__avatar {
  display: table-cell;
  vertical-align: top;
  width: 36px;
  height: 36px; }
  @media (min-width: 64em) {
    .author__avatar {
      display: block;
      width: auto;
      height: auto; } }
  .author__avatar img {
    max-width: 110px;
    border-radius: 50%; }
    @media (min-width: 64em) {
      .author__avatar img {
        padding: 5px;
        border: 1px solid #f2f3f3; } }

.author__content {
  display: table-cell;
  vertical-align: top;
  padding-left: 15px;
  padding-right: 25px;
  line-height: 1; }
  @media (min-width: 64em) {
    .author__content {
      display: block;
      width: 100%;
      padding-left: 0;
      padding-right: 0; } }
  .author__content a {
    color: inherit;
    text-decoration: none; }

.author__name {
  margin: 0; }
  @media (min-width: 64em) {
    .author__name {
      margin-top: 10px;
      margin-bottom: 10px; } }


.author__urls-wrapper {
  position: relative;
  display: inline-list-item;
  horiz-align: left;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
  z-index: 10;
  position: relative;
  cursor: pointer; }
  .author__urls-wrapper li:last-child a {
    margin-bottom: 0; }
  @media (min-width: 64em) {
    .author__urls-wrapper {
      display: block; } }
  .author__urls-wrapper button {
    margin-bottom: 0; }
    @media (min-width: 64em) {
      .author__urls-wrapper button {
        display: none; } }

.author__urls {
  display: none;
  position: absolute;
  right: 0;
  margin-top: 15px;
  padding: 10px;
  list-style-type: none;
  border: 1px solid #f2f3f3;
  border-radius: 4px;
  background: #fff;
  z-index: -1;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  cursor: default; }
  .author__urls.is--visible {
    display: inline; }
  @media (min-width: 64em) {
    .author__urls {
      display: inline;
      position: relative;
      margin: 0;
      padding: 0;
      border: 0;
      background: transparent;
      box-shadow: none; } }
  .author__urls:before {
    display: inline;
    content: "";
    position: absolute;
    top: -11px;
    left: calc(50% - 10px);
    width: 0;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: #f2f3f3 transparent;
    z-index: 0; }
    @media (min-width: 64em) {
      .author__urls:before {
        display: none; } }
  .author__urls:after {
    display: inline;
    content: "";
    position: absolute;
    top: -10px;
    left: calc(50% - 10px);
    width: 0;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: #fff transparent;
    z-index: 1; }
    @media (min-width: 64em) {
      .author__urls:after {
        display: none; } }
  .author__urls li {
    white-space: nowrap; }
  .author__urls a {
    display: inline;
    margin-bottom: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: inherit;
    font-size: 1em;
    text-decoration: none; }
    .author__urls a:hover {
      text-decoration: underline; }


/*
 * Formatting the header area
 */

header {
    background-color: lightgray;
    height: 50px;
    width: 100%;
    opacity: .9;
    margin-bottom: 10px;
}

header h1.logo {
    margin: 0;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    float: left;
}

header h1.logo:hover {
    color: #fff;
    text-decoration: none;
}

/*
 * Center the body content
 */

.container {
    width: 1200px;
    margin: 0 auto;
}

.center {
    margin-left: 40%;
    margin-right: 50%;
}

.contact {
    display: inline-list-item;
    float: left;
    alignment: left;
}

div.home {
    padding: 10px 0 30px 0;
    background-color: lightgray;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

div.projects {
    padding: 10px 0 30px 0;
    background-color: lightgray;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.menu_projects {
    float: inherit;
    margin-top: 8px;
}

.menu_projects li {
    display: inherit;
    width: 33%;
}

.menu_projects li + li {
    margin-left: 35px;
}

.menu_projects li a {
    color: darkslateblue;
    text-decoration: aliceblue;
}

h2 {
    font-size: 3em;
    margin-top: 40px;
    text-align: center;
    letter-spacing: -2px;
}

h3 {
    font-size: 1.7em;
    font-weight: 100;
    margin-top: 30px;
    text-align: center;
    letter-spacing: -1px;
    color: #999;
}

.menu {
    float: right;
    margin-top: 8px;
}

.menu-center {
    float: right;
    margin-top: 8px;
}

.menu-center li,
.menu li {
    display: inline;
}

.menu-center li + li,
.menu li + li {
    margin-left: 35px;
}

.menu-center li a,
.menu li a {
    color: #444;
    text-decoration: none;
}

.sidebar {
    clear: both;
}

.sidebar::after {
    clear: both;
    content: "";
    display: table;
}

@media (max-width: 64em) {
    .sidebar {
        /* fix z-index order of follow links */
        position: relative;
        z-index: 10;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@media (min-width: 64em) {
    .sidebar {
        float: left;
        width: calc(200px - 1em);
        opacity: 0.75;
        -webkit-transition: opacity 0.2s ease-in-out;
        transition: opacity 0.2s ease-in-out;
    }

    .sidebar:hover {
        opacity: 1;
    }

    .sidebar.sticky {
        overflow-y: auto;
        /* calculate height of nav list
           viewport height - nav height - masthead x-padding
        */
        height: calc(100vh - 2em - 2em);
    }
}

@media (min-width: 80em) {
    .sidebar {
        width: calc(300px - 1em);
    }
}

.sidebar > * {
    margin-top: 1em;
    margin-bottom: 1em;
}

.sidebar h2,
.sidebar h3,
.sidebar h4,
.sidebar h5,
.sidebar h6 {
    margin-bottom: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
}

.sidebar p,
.sidebar li {
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
    font-size: 0.75em;
    line-height: 1.5;
}

.sidebar img {
    width: 100%;
}

.sidebar img.emoji {
    width: 20px;
    height: 20px;
}

.project {
    height: 200px;
    margin-bottom: 16px;
    display: flex;
}

.project .image {
    margin-right: 16px;
    width: 280px;
}

@media (max-width: 64em) {
    .project {
        height: 100px
    }

    .project .image {
        width: 140px
    }
}

.project .content {
    flex: 1;
}

.project dd {
    margin-left: 0;
}


.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap; }