{%extends "layout.html"%}
{%block content%}
<div class="home">
    <h1><big>About <span> me</span></big></h1>
            <p>
                My name is Erez Lev, a student at the Academic College of Tel Aviv, Yafo for B.Sc. Computer Science.<br>
                I'm a young enthusiast that excited about new technologies and programming.<br>
                Always looking forward to learn new exciting things.<br>
                Except from studying, I love to dive, snowboarding and be active.<br>
            </p>
</div>
{%endblock%}