{% extends "layout.html" %}
{%block content%}
<div class="project">
    <dl class="projects">
        <div class="project">
            <a class='image' href=""><img
                    src=""/></a>
            <div class='content'>
                <dt><h3><a href="https://github.com/erezlev13/Online-Marketing-System">Online marketing system</a></h3>
                </dt>
                <dd><p>E-commerce system, written in C++. <b>Need to add more details..</b>
                </p></dd>
            </div>
        </div>


        <div class="project">
            <a class='image' href=""><img
                    src=""/></a>
            <div class='content'>
                <dt><h3><a href="https://github.com/erezlev13/Find-Your-Cofeece">Cofeece</a></h3></dt>
                <dd><p>Give comfortable solution to work in a restaurant. Created in Android, Kotlin, XML</p></dd>
            </div>
        </div>


        <div class="project">
            <a class='image' href=""><img
                    src=""/></a>
            <div class='content'>
                <dt><h3><a href="https://github.com/erezlev13/Personal-Website">Personal Website}</a></h3></dt>
                <dd><p>Portfolio website for presenting my prjects. Created in Python, as long with Flask, HTML,
                    CSS.</p></dd>
            </div>
        </div>

    </dl>
</div>
{%endblock%}